.gallery {
  display: grid;
  justify-items: center;
  padding-top: 15px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.photo-card {
  border-left: 1px #e6e6e6 solid;
  border-right: 1px #e6e6e6 solid;
  border-bottom: 1px #e6e6e6 solid;
  border-radius: 2px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);

  & > img {
    object-fit: cover;
    height: 200px;
    width: 320px;
  }
}

.info {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 320px;
}

.info-item {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
